{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <h3 class="text-center">Chào bạn mới! Vui lòng điền thông tin</h3>
    <form method="post">
        <div class="mb-3">
            <label>Số điện thoại (Tên đăng nhập)</label>
            <input type="text" class="form-control" value="{{ phone }}" disabled>
        </div>
        <div class="mb-3">
            <label>Họ và Tên</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Chọn gói tập ngay</button>
    </form>
</div>
{% endblock %}